<hr>
<footer>
  <p><em>Copywrong @Transformers & Megan Fox</em></p>
  <ul class="mt-5">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'List Alphabetically', alphabetized_customers_path %></li>
    <li><%= link_to 'List Customers Without Email', missing_email_customers_path %></li>
  </ul>
</footer>